@import vars

/**************************************************
/*                     Border                     *
/**************************************************

// top
=borderTop($size, $color: '', $unit: rem)
  border-top: ($size + $unit) solid $color

// bottom
=borderBottom($size, $color: '', $unit: rem)
  border-bottom: ($size + $unit) solid $color

// left
=borderLeft($size, $color: '', $unit: rem)
  border-left: ($size + $unit) solid $color

// right
=borderRight($size, $color: '', $unit: rem)
  border-right: ($size + $unit) solid $color

// top - bottom
=borderTopBottom($size, $color: '', $unit: rem)
  border-top: ($size + $unit) solid $color
  border-bottom: ($size + $unit) solid $color
=borderBottomTop($size, $color: '', $unit: rem)
  +borderTopBottom($size, $color, $unit)

// top - left
=borderTopLeft($size, $color: '', $unit: rem)
  border-top: ($size + $unit) solid $color
  border-left: ($size + $unit) solid $color
=borderLeftTop($size, $color: '', $unit: rem)
  +borderTopLeft($size, $color, $unit)

// top - right
=borderTopRight($size, $color: '', $unit: rem)
  border-top: ($size + $unit) solid $color
  border-right: ($size + $unit) solid $color
=borderRightTop($size, $color: '', $unit: rem)
  +borderTopRight($size, $color, $unit)

// bottom - left
=borderBottomLeft($size, $color: '', $unit: rem)
  border-bottom: ($size + $unit) solid $color
  border-left: ($size + $unit) solid $color
=borderLeftBottom($size, $color: '', $unit: rem)
  +borderBottomLeft($size, $color: '', $unit: rem)

// bottom - right
=borderBottomRight($size, $color: '', $unit: rem)
  border-bottom: ($size + $unit) solid $color
  border-right: ($size + $unit) solid $color
=borderRightBottom($size, $color: '', $unit: rem)
  +borderBottomRight($size, $color, $unit)

// left - right
=borderLeftRight($size, $color: '', $unit: rem)
  border-left: ($size + $unit) solid $color
  border-right: ($size + $unit) solid $color
=borderRightLeft($size, $color: '', $unit: rem)
  +borderLeftRight($size, $color, $unit)

// top - bottom - left
=borderTopBottomLeft($size, $color: '', $unit: rem)
  border-top: ($size + $unit) solid $color
  border-bottom: ($size + $unit) solid $color
  border-left: ($size + $unit) solid $color
=borderTopLeftBottom($size, $color: '', $unit: rem)
  +borderTopBottomLeft($size, $color, $unit)
=borderBottomTopLeft($size, $color: '', $unit: rem)
  +borderTopBottomLeft($size, $color, $unit)
=borderBottomLeftTop($size, $color: '', $unit: rem)
  +borderTopBottomLeft($size, $color, $unit)
=borderLeftTopBottom($size, $color: '', $unit: rem)
  +borderTopBottomLeft($size, $color, $unit)
=borderLeftBottomTop($size, $color: '', $unit: rem)
  +borderTopBottomLeft($size, $color, $unit)

// top - bottom - right
=borderTopBottomRight($size, $color: '', $unit: rem)
  border-top: ($size + $unit) solid $color
  border-bottom: ($size + $unit) solid $color
  border-right: ($size + $unit) solid $color
=borderTopRightBottom($size, $color: '', $unit: rem)
  +borderTopBottomRight($size, $color, $unit)
=borderBottomTopRight($size, $color: '', $unit: rem)
  +borderTopBottomRight($size, $color, $unit)
=borderBottomRightTop($size, $color: '', $unit: rem)
  +borderTopBottomRight($size, $color, $unit)
=borderRightTopBottom($size, $color: '', $unit: rem)
  +borderTopBottomRight($size, $color, $unit)
=borderRightBottomTop($size, $color: '', $unit: rem)
  +borderTopBottomRight($size, $color, $unit)

// top - left - right
=borderTopLeftRight($size, $color: '', $unit: rem)
  border-top: ($size + $unit) solid $color
  border-left: ($size + $unit) solid $color
  border-right: ($size + $unit) solid $color
=borderTopRightLeft($size, $color: '', $unit: rem)
  +borderTopLeftRight($size, $color, $unit)
=borderLeftTopRight($size, $color: '', $unit: rem)
  +borderTopLeftRight($size, $color, $unit)
=borderLeftRightTop($size, $color: '', $unit: rem)
  +borderTopLeftRight($size, $color, $unit)
=borderRightTopLeft($size, $color: '', $unit: rem)
  +borderTopLeftRight($size, $color, $unit)
=borderRightLeftTop($size, $color: '', $unit: rem)
  +borderTopLeftRight($size, $color, $unit)

// bottom - left - right
=borderBottomLeftRight($size, $color: '', $unit: rem)
  border-bottom: ($size + $unit) solid $color
  border-left: ($size + $unit) solid $color
  border-right: ($size + $unit) solid $color
=borderBottomRightLeft($size, $color: '', $unit: rem)
  +borderBottomLeftRight($size, $color, $unit)
=borderLeftBottomRight($size, $color: '', $unit: rem)
  +borderBottomLeftRight($size, $color, $unit)
=borderLeftRightBottom($size, $color: '', $unit: rem)
  +borderBottomLeftRight($size, $color, $unit)
=borderRightBottomLeft($size, $color: '', $unit: rem)
  +borderBottomLeftRight($size, $color, $unit)
=borderRightLeftBottom($size, $color: '', $unit: rem)
  +borderBottomLeftRight($size, $color, $unit)

// all
=border($size, $color: '', $unit: rem)
  border: ($size + $unit) solid $color

// radius top - left
=borderRadiusTopLeft($radius, $unit: rem)
  border-top-left-radius: $radius + $unit

// radius top - right
=borderRadiusTopRight($radius, $unit: rem)
  border-top-right-radius: $radius + $unit

// radius bottom - left
=borderRadiusBottomLeft($radius, $unit: rem)
  border-bottom-left-radius: $radius + $unit

// radius bottom - right
=borderRadiusBottomRight($radius, $unit: rem)
  border-bottom-right-radius: $radius + $unit

// radius top
=borderRadiusTop($radius, $unit: rem)
  border-top-left-radius: $radius + $unit
  border-top-right-radius: $radius + $unit

// radius bottom
=borderRadiusBottom($radius, $unit: rem)
  border-bottom-left-radius: $radius + $unit
  border-bottom-right-radius: $radius + $unit

// radius left
=borderRadiusLeft($radius, $unit: rem)
  border-top-left-radius: $radius + $unit
  border-bottom-left-radius: $radius + $unit

// radius right
=borderRadiusRight($radius, $unit: rem)
  border-top-right-radius: $radius + $unit
  border-bottom-right-radius: $radius + $unit

// radius all
=borderRadius($radius, $unit: rem)
  border-radius: $radius + $unit