/**************************************************
/*                      Main                      *
/**************************************************

$HtmlFontSize: 14

$SiteMinWidth: 340
$SiteMaxWidth: 1440
$SiteWidthBreakpoint: 768

$HorizontalMinPadding: 20
$HorizontalMaxPadding: 140

$HtmlFontSizePx: $HtmlFontSize + px
$SiteMinWidthPx: $SiteMinWidth + px
$SiteMaxWidthPx: $SiteMaxWidth + px
$SiteWidthBreakpointPx: $SiteWidthBreakpoint + px
$HorizontalMinPaddingPx: $HorizontalMinPadding + px
$HorizontalMaxPaddingPx: $HorizontalMaxPadding + px

/**************************************************
/*                    Palette                     *
/**************************************************

$DarkShade: #1F2041
$DarkShade75: rgba(31, 32, 65, 0.75)
$DarkShade50: rgba(31, 32, 65, 0.50)
$DarkShade25: rgba(31, 32, 65, 0.25)
$DarkShade10: rgba(31, 32, 65, 0.10)
$DarkShade5: rgba(31, 32, 65, 0.05)
$Green: #6FCF97
$GreenLight: #66D2EA
$GreenGradient: linear-gradient(180deg, $Green 0%, $GreenLight 100%)
$Purple: #BC9CFF
$PurpleLight: #8BA4F9
$PurpleGradient: linear-gradient(180deg, $Purple 0%, $PurpleLight 100%)
$PurpleLighten15: lighten($Purple, 15%)


/**************************************************
/*                Objects palette                 *
/**************************************************

// text
$text: $DarkShade
$textLighten1: $DarkShade75
$textLighten2: $DarkShade50
$textLighten3: $DarkShade25
$textLighten4: $DarkShade10
$textLighten5: $DarkShade5

// background
$background: white

// border
$borderColor: $textLighten3
$borderColor-focus: $textLighten2


/**************************************************
/*                 Objects sizes                  *
/**************************************************

// input
$inputWidth-lg: 320
$inputHeight-sm: 34
$inputHeight-md: 44

// border
$borderSize-sm: 1
$borderSize-md: 2
$borderRadius-sm: 4

$inputWidth-lg-px: $inputWidth-lg + px
$inputHeight-sm-px: $inputHeight-sm + px
$inputHeight-md-px: $inputHeight-md + px
$borderSize-sm-px: $borderSize-sm + px
$borderSize-md-px: $borderSize-md + px
$borderRadius-sm-px: $borderRadius-sm + px