@import ../vars&mixins/index

button.button
  +Button
  &_lg
    width: $Object-WidthPx

button.button-purple
  +ButtonPurple

button.button-white
  +ButtonWhite

button.button-icon
  +ButtonIcon
  &:before, &:after
    +MaterialIcon
    content: ""
    width: $Object-HeightPx
    height: $Object-HeightPx
    color: $background
  &:before
    +absolute-top-left(0, -1px)
  &:after
    +absolute-top-right(0, -1px)

button.button-icon_forward:after
  content: "arrow_forward"