@import ../vars&mixins/index

$BoxSize: 20/14

.checkbox-list
  width: $inputWidth-lg-px
  +flexDirection(column)
  &__label
    +marginBottom(11/14)
  &__list
    +flexDirection(column)

.checkbox-list__box
  pointer-events: none
  +WidthHeight($BoxSize)
  background: $background
  +border($borderSize-sm / 14, $DarkShade25)
  +borderRadius($borderRadius-sm / 14)
  +absoluteTopLeft(5/14, 0)
  &:before, &:after
    content: ""
    transform: rotate(-45deg)
    +WidthHeight($BoxSize / 2.5, $BoxSize / 3.333)
    visibility: hidden
    display: block
  &:before
    background: $PurpleGradient
    +absoluteTopLeft(6/14, 5/14)
  &:after
    background: $background
    +absoluteTopLeft(2/14, 5/14)

.checkbox-list__title
  cursor: pointer
  display: inline-block
  margin: 0
  & p
    pointer-events: none
    +textColorSizeHeightWeightTransform($DarkShade50, 1, 18/14, 400, none)
    display: inherit
    +marginLeft($BoxSize * 1.5)
  @media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0)
    &:hover ~ .checkbox-list__box
      background: lighten($Purple, 15%)
      &:after
        background: lighten($Purple, 15%)

.checkbox-list__item
  display: flex
  +padding(6/14, 12/14, 6/14, 0)
  position: relative
  & input[type="checkbox"]
    display: none
    &:checked ~ .checkbox-list__box
      border-color: $Purple
      &:before, &:after
        visibility: visible