@import ../vars&mixins/index

$BoxSize: 40/14

.hasDatepicker
  background: $background
  +border($borderSize-sm / 14, $textLighten3)
  +borderRadius($borderRadius-sm / 14)
  box-shadow: 0 10px 20px $textLighten5
  display: inline-block
  +padding($BoxSize / 2 - 9/14, $BoxSize / 2 - 1/14)

  margin: 100px

  & .ui-datepicker-header
    +Height($BoxSize)
    +flexPlacement(center)
    position: relative

  & .ui-datepicker-title
    +textColorSizeHeightWeight($text, 19/14, 24/14, 700)

  & .ui-datepicker-prev, & .ui-datepicker-next
    cursor: pointer
    +WidthHeight($BoxSize)
    +borderRadius($BoxSize / 2)
    +flexPlacement(center)
    & .ui-icon
      @extend .material-icons
      color: $Purple
    @media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0)
      &:hover
        background: $PurpleGradient
      &:hover > .ui-icon
        color: $background

  & .ui-datepicker-prev
    +absoluteTopLeft(0, -7/14)

  & .ui-datepicker-next
    +absoluteTopRight(0, -7/14)

  & .ui-datepicker-calendar
    border-spacing: 0
    +marginTop(21/14)
    & tr
      display: flex

  & .ui-datepicker-calendar th, & .ui-datepicker-calendar td, & .ui-state-default:not(button)
    +WidthHeight($BoxSize)
    +textColorSizeHeightWeight($textLighten2, 12/14, 15/14)
    +flexPlacement(center)

  & .ui-datepicker-unselectable .ui-state-default
    color: $textLighten3

  & .ui-datepicker-calendar th
    +textColorWeight($Purple, 700)

  & .ui-state-active
    background: $PurpleGradient25

  & .ui-state-highlight:not(.ui-state-active)
    +textColorWeight($background, 700)
    background: $GreenGradient
    +borderRadius($BoxSize / 2)

  & .selected-start .ui-state-active, & .selected-end .ui-state-active
    z-index: 0
    +textColorWeight($background, 700)
    background: $PurpleGradient
    +borderRadius($BoxSize / 2)
    position: relative
    &:before
      z-index: -1
      content: ""
      +WidthHeight($BoxSize)
      background: $PurpleGradient25
      display: block
      +absoluteTopLeft()

  & .selected-start .ui-state-active:before
    +borderRadiusLeft($BoxSize / 2)

  & .selected-end .ui-state-active:before
    +borderRadiusRight($BoxSize / 2)

  & .ui-datepicker-button-panel
    +Height(44/14)
    +flexPlacement(space-between, center)
    +paddingTop(12/14)

  & .ui-datepicker-current
    @extend button