@import ../vars&mixins/index

.header
  background: $background
  &__logo
    +Height(40/14)
    @media (max-width: #{$SiteWidthBreakpoint - 0.51}px)
      z-index: 202
  &__menu-icon
    cursor: pointer
    +WidthHeight(40/14)
    +textSize(32/14)
    background: $PurpleGradient
    +borderRadius(20/14)
    display: none
    & .material-icons
      pointer-events: none
      +textSizeColor(32/14, $background)
    @media (max-width: #{$SiteWidthBreakpoint - 0.51}px)
      z-index: 202
      +flexPlacement(center)
    @media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0)
      &:hover, &:active, &:focus
        filter: saturate(250%)

.header .menu
  background: $background
  @media (min-width: #{$SiteWidthBreakpoint - 0.49}px)
    +flexJustifyContent(center)
  @media (max-width: #{$SiteWidthBreakpoint - 0.51}px)
    z-index: 201
    overflow-y: auto
    width: 100vw
    height: 100vh
    display: none
    +padding(70/14)
    +absoluteTopLeft
  @media (max-width: #{$SiteMinWidth - 0.51}px)
    width: $SiteMinWidthPx

.header .menu__show
  @media (max-width: #{$SiteWidthBreakpoint - 0.51}px)
    +flexDirection(column)

.header__container
  min-width: $SiteMinWidthPx
  max-width: $SiteMaxWidthPx
  +Height(70/14)
  +flexPlacement(space-between, center)
  padding: 0 $HorizontalMaxPaddingPx
  margin: 0 auto
  @media (max-width: #{$SiteMaxWidth - 0.51}px)
    padding: 0 calc(#{$HorizontalMaxPaddingPx} - (#{$SiteMaxWidthPx} - 100vw) * #{($HorizontalMaxPadding - $HorizontalMinPadding) / ($SiteMaxWidth - $SiteWidthBreakpoint)})
  @media (max-width: #{$SiteWidthBreakpoint - 0.51}px)
    padding: 1rem calc(#{$HorizontalMinPaddingPx} - (#{$SiteWidthBreakpointPx} - 100vw) * #{($HorizontalMinPadding / 2) / ($SiteWidthBreakpoint - $SiteMinWidth)})
  @media (max-width: #{$SiteMinWidth - 0.51}px)
    +padding(0, $HorizontalMinPadding / 28)

.header .menu__button
  +Height($inputHeight-sm / 14)
  position: relative
  & .fa
    +textSize(24/14)
    display: none
  @media (max-width: 1079.49px)
    & span
      display: none
    & .fa
      display: inline-block
  @media (max-width: #{$SiteWidthBreakpoint - 0.51}px)
    & span
      display: inline-block
    & .fa
      display: none

.header .menu__account
  +WidthMax($inputWidth-lg / 14)
  +textColorSizeHeightWeight($textLighten2, 1, 18/14)
  +borderLeft(1/14, $textLighten4)
  +flexPlacement(center)
  +paddingLeft(20/14)
  & p
    +textEllipsis
  @media (max-width: #{$SiteMaxWidth - 0.51}px)
    max-width: calc(#{$SiteMinWidth - $HorizontalMinPadding}px - (#{$SiteMinWidthPx} - 100vw) * #{($SiteMinWidth - $HorizontalMinPadding - 150) / ($SiteMaxWidth - $SiteWidthBreakpoint)})

.header .menu__item
  +flexPlacement(center)
  position: relative
  &:first-of-type
    margin-left: 0
  & .material-icons
    pointer-events: none
    +textHeight(22/14)
    +marginLeft(1/14)
  &:not(.menu__item_drop) .menu__link_active
    pointer-events: none
  @media (min-width: 1079.51px)
    +marginLeft(20/14)
  @media (max-width: 1079.49px)
    margin-left: calc(20px - (1080px - 100vw) * #{(20 - 12) / (1080 - $SiteWidthBreakpoint)})
  @media (max-width: #{$SiteWidthBreakpoint - 0.51}px)
    +marginTopLeft(20/14, 0)
    &:first-of-type
      margin-top: 0
    &_drop
      flex-direction: column
      +marginLeft(24/14)
  @media (min-width: #{$SiteWidthBreakpoint - 0.49}px)
    @media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0)
      &:hover > .menu__dropdown.hide, &:hover > .menu__dropdown
        display: flex

.header .menu__link
  font-weight: 400
  +flexAlignItems(center)
  &_active
    cursor: default
    font-weight: 700
  @media (min-width: #{$SiteWidthBreakpoint - 0.49}px)
    +Height(22/14)
    +textColorSizeHeight($textLighten2, 1, 17/14)
  @media (max-width: #{$SiteWidthBreakpoint - 0.51}px)
    +Height(2)
    +textColorSizeHeight($textLighten1, 18/14, 24/14)
    justify-content: center
  @media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0)
    &:not(.menu__link_active)
      &:hover, &:focus
        +borderTop($borderSize-sm / 14, $background)
        +borderBottom($borderSize-sm / 14, $textLighten2)
      &:focus ~ .menu__dropdown.hide, &:focus ~ .menu__dropdown.hide
        display: flex

.header .menu__dropdown
  z-index: 101
  background: none
  @media (min-width: #{$SiteWidthBreakpoint - 0.49}px)
    +paddingTop(10/14)
    +absoluteTopLeft(22/14, 0)
  @media (max-width: #{$SiteWidthBreakpoint - 0.51}px)
    position: static
    +marginLeft(-24/14)
    &:not(.hide)
      +flexJustifyContent(center)
  @media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0)
    &:active
      display: flex

.header .menu__submenu
  background: $background
  +flexDirection(column)
  @media (min-width: #{$SiteWidthBreakpoint - 0.49}px)
    +WidthMin(144/14)
    +WidthMax(196/14)
    +border($borderSize-sm / 14, $borderColor)
    +borderRadius($borderRadius-sm / 14)
    +padding(20/14)
  @media (max-width: #{$SiteWidthBreakpoint - 0.51}px)
    min-width: auto
    max-width: 100%
    border: none

.header .menu__sub-item
  @media (min-width: #{$SiteWidthBreakpoint - 0.49}px)
    +marginTop(11/14)
    &:first-of-type
      margin-top: 0
  @media (max-width: #{$SiteWidthBreakpoint - 0.51}px)
    +marginTop(15/14)

.header .menu__sub-link
  +textColorSizeHeightWeight($textLighten2, 1, 17/14)
  +flexAlignItems(center)
  @media (min-width: #{$SiteWidthBreakpoint - 0.49}px)
    +Height(20/14)
  @media (max-width: #{$SiteWidthBreakpoint - 0.51}px)
    +Height(24/14)
    +textSizeHeight(16/14, 21/14)
  @media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0)
    &:hover
      text-decoration: underline

.header .hide
  display: none