@import ../vars&mixins/index

$ButtonSize: 40/14
$BoxSize: 20/14

.like-button
  +Width($ButtonSize)
  background: $background
  display: flex

.like-button__box
  cursor: pointer
  overflow: hidden
  width: inherit
  +Height($BoxSize)
  +border($borderSize-sm / 14, $DarkShade25)
  +borderRadius($BoxSize)
  +flexAlignItems(center)
  @media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0)
    &:hover
      background: lighten($Purple, 15%)

.like-button__icon
  pointer-events: none
  +WidthHeight($BoxSize)
  +flexPlacement(center)
  & .material-icons
    +textColorSizeHeightWeight($Purple, 10/14, 9/14)
    &.border
      display: block
    &:not(.border)
      display: none

.like-button__counter
  pointer-events: none
  +WidthHeight($BoxSize)
  text-transform: none
  +textColorSizeHeightWeight($DarkShade25, 10/14, 12/14)
  +flexAlignItems(center)
  +padding(2/14)

.like-button input[type="checkbox"]
  display: none
  &:checked
    & ~ .like-button__box
      border-color: $Purple
    & ~ .like-button__box .like-button__counter
      color: $Purple
    & ~ .like-button__box .like-button__icon .material-icons.border
      display: none
    & ~ .like-button__box .like-button__icon .material-icons:not(.border)
      display: block