@import ../vars&mixins/index

$ListItemHeight: 37px

.select
  +flex-column
  width: $Object-WidthPx

  .select
    &__label
      margin-bottom: 5px
    &__item-label
      width: 100%
      margin-top: 1px
      margin-bottom: 2px

  details
    +flex-column
    background: $background
    position: relative
    &[open] > summary
      border-color: $DarkShade50
      border-bottom-right-radius: 0
      border-bottom-left-radius: 0
    &[open] > .select__dropdown
      visibility: visible

  summary
    +textEllipsis
    +textDarkShade75-14-24-400
    cursor: pointer
    width: $Object-WidthPx
    height: $Object-HeightPx
    border: $Object-Border
    border-radius: $Object-BorderRadius
    display: flex
    align-items: center
    padding: 0 48px 0 14px
    &:before
      +MaterialIcon
      +absolute-top-right(0, 1px)
      content: 'expand_more'
      width: $Object-HeightPx
      height: $Object-HeightPx
    @media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0)
      &:hover, &:active, &:focus
        border-color: $DarkShade50
      &:focus
        box-shadow: $Object-Shadow-focus

  .select__dropdown
    +flex-column
    +absolute-top-left($Object-HeightPx, 0)
    z-index: 101
    overflow: hidden
    visibility: hidden
    width: 100%
    background: $background
    border-bottom: $Object-Border-focus
    border-left: $Object-Border-focus
    border-right: $Object-Border-focus
    border-bottom-right-radius: $Object-BorderRadius
    border-bottom-left-radius: $Object-BorderRadius
    box-shadow: $Object-Shadow20
    padding-top: 2px

  .select__item
    +textEllipsis
    +textDarkShade-12-15-700-uppercase
    width: 100%
    height: $ListItemHeight
    display: flex
    align-items: center
    padding: 3px 6px 3px 14px

  .number-field
    display: flex

  .number-field__input
    +textDarkShade-12-15-700-uppercase
    width: 32px
    height: 30px
    text-align: center
    border: none
    padding: 0 0 2px

  .number-field__spin-button
    +textDarkShade50-18-22-400
    +flex-center-center
    cursor: pointer
    width: 30px
    height: 30px
    background: inherit
    border: $Object-Border-focus
    border-radius: 50%
    padding-bottom: 1px
    padding-right: 1px
    margin-top: 1px
    &[disabled]
      cursor: default
      color: $DarkShade25
      border-color: $DarkShade25
    @media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0)
      &:hover, &:active
        background: $PurpleLighten15
      &:focus
        box-shadow: $Object-Shadow-focus
      &[disabled]:hover, &[disabled]:active
        background: inherit

  .select__button-panel
    +flex-between-center
    height: ($Object-Height - 1) + px
    padding: 5px 6px 0 11px