@import vars&mixins/index

html
  font-size: $Html-FontSizePx

*
  box-sizing: border-box
  padding: 0
  margin: 0
  &:active, &:focus
    outline: none

body
  +MontserratSerif
  +textDarkShade75-14-24-400
  user-select: none

h1
  +textDarkShade-24-29-700

h2
  +textDarkShade-19-23-700

h3, .label
  +textDarkShade-12-15-700-uppercase

p
  +textDarkShade75-14-24-400

a
  +textDarkShade75-14-20
  height: 18px
  text-decoration: none
  &[disabled]
    pointer-events: none
    cursor: default
    color: $DarkShade50

ul, li
  list-style-type: none

details > summary
  list-style: none

summary::-webkit-details-marker
  display: none

button
  +MontserratSerif

input
  +MontserratSerif
  +textDarkShade25-14-24
  width: $Object-WidthPx
  height: $Object-HeightPx
  background: $Background
  border: $Object-Border
  border-radius: $Object-BorderRadius
  padding: 12px 15px 10px
  &::placeholder
    color: $textLighten3
  @media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0)
    &:hover, &:focus
      border-color: $borderColor-focus
    &[type=number]
      &, &:hover, &:focus
        -moz-appearance: textfield
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button
        -webkit-appearance: none

.view
  background: $background
  &__container
    min-width: $Site-MinWidthPx
    max-width: $Site-MaxWidthPx
    display: flex
    justify-content: space-between
    padding: 70px $Site-MaxHorPaddingPx 50px
    position: relative
    margin: 0 auto
    @media (max-width: #{$Site-MaxWidth - 0.51}px)
      padding: calc(#{70px} - (#{$Site-MaxWidthPx} - 100vw) * #{(70 - 40) / ($Site-MaxWidth - $Site-WidthBreakpoint768)}) calc(#{$Site-MaxHorPaddingPx} - (#{$Site-MaxWidthPx} - 100vw) * #{($Site-MaxHorPadding - $Site-MinHorPadding) / ($Site-MaxWidth - $Site-WidthBreakpoint768)})
    @media (max-width: #{$Site-WidthBreakpoint768 - 0.51}px)
      padding: calc(#{40px} - (#{$Site-WidthBreakpoint768Px} - 100vw) * #{(40 - 20) / ($Site-WidthBreakpoint768 - $Site-MinWidth)})  calc(#{$Site-MinHorPaddingPx} - (#{$Site-WidthBreakpoint768Px} - 100vw) * #{($Site-MinHorPadding / 2) / ($Site-WidthBreakpoint768 - $Site-MinWidth)})
    @media (max-width: #{$Site-WidthBreakpoint540 - 0.51}px)
      justify-content: center
    @media (max-width: #{$Site-MinWidth - 0.51}px)
      padding: 20px #{$Site-MinHorPaddingPx / 2}