@import vars

=WidthCalc($size)
  width: $size / $FontSize
=HeightCalc($size)
  height: $size / $FontSize
=WHCalc($width, $height)
  +WidthCalc($width)
  +HeightCalc($height)
=WHCalcSingle($size)
  +WHCalc($size, $size)

// border
=borderRBL($size, $color)
  border-right: $size solid $color
  border-bottom: $size solid $color
  border-left: $size solid $color
=radiusBottom($radius)
  border-bottom-right-radius: $radius
  border-bottom-left-radius: $radius

// flex
=flexCol()
  display: flex
  flex-direction: column
=flexJcC()
  display: flex
  justify-content: center
=flexAiC()
  display: flex
  align-items: center
=flexCC()
  +flexJcC
  align-items: center
=flexJcSb()
  display: flex
  justify-content: space-between
=flexSbC()
  +flexJcSb
  align-items: center

// margin
=marginTCalc($size)
  padding-top: $size / $FontSize
=marginTR($top, $right)
  margin-top: $top
  margin-right: $right
=marginTRSingle($size)
  +marginTR($size, $size)
=marginTL($top, $left)
  margin-top: $top
  margin-left: $left
=marginTLSingle($size)
  +marginTL($size, $size)
=marginBR($bottom, $right)
  margin-bottom: $bottom
  margin-right: $right
=marginBRSingle($size)
  +marginBR($size, $size)
=marginBL($bottom, $left)
  margin-bottom: $bottom
  margin-left: $left
=marginBLSingle($size)
  +marginBL($size, $size)

// padding
=paddingTCalc($size)
  padding-top: $size / $FontSize
=paddingTR($top, $right)
  padding-top: $top
  padding-right: $right
=paddingTRSingle($size)
  +paddingTR($size, $size)
=paddingTL($top, $left)
  padding-top: $top
  padding-left: $left
=paddingTLSingle($size)
  +paddingTL($size, $size)
=paddingBR($bottom, $right)
  padding-bottom: $bottom
  padding-right: $right
=paddingBRSingle($size)
  +paddingBR($size, $size)
=paddingBL($bottom, $left)
  padding-bottom: $bottom
  padding-left: $left
=paddingBLSingle($size)
  +paddingBL($size, $size)
=paddingCalc($top, $right, $bottom, $left)
  padding: ($top / $FontSize) ($right / $FontSize) ($bottom / $FontSize) ($left / $FontSize)

// position
=absoluteTR($top, $right)
  position: absolute
  top: $top
  right: $right
=absoluteTRSingle($pos)
  +absoluteTR($pos, $pos)
=absoluteTL($top, $left)
  position: absolute
  top: $top
  left: $left
=absoluteTLSingle($pos)
  +absoluteTL($pos, $pos)
=absoluteBR($bottom, $right)
  position: absolute
  top: $bottom
  right: $right
=absoluteBRSingle($pos)
  +absoluteBR($pos, $pos)
=absoluteBL($bottom, $left)
  position: absolute
  bottom: $bottom
  left: $left
=absoluteBLSingle($pos)
  +absoluteBL($pos, $pos)

// text
=textEllipsis()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
=textCS($color, $size)
  color: $color
  font-size: $size
=textCSCalc($color, $size)
  color: $color
  font-size: $size / $FontSize
=textSW($size, $weight)
  font-size: $size
  font-weight: $weight
=textSWCalc($size, $weight)
  font-size: $size / $FontSize
  font-weight: $weight
=textCSW($color, $size, $weight)
  color: $color
  +textSW($size, $weight)
=textCSWCalc($color, $size, $weight)
  color: $color
  +textSWCalc($size, $weight)
=textCSWH($color, $size, $weight, $height)
  +textCSW($color, $size, $weight)
  line-height: $height
=textCSWHCalc($color, $size, $weight, $height)
  +textCSWCalc($color, $size, $weight)
  line-height: $height / $FontSize
=textCSWT($color, $size, $weight, $transform)
  +textCSW($color, $size, $weight)
  text-transform: $transform
=textCSWTCalc($color, $size, $weight, $transform)
  +textCSWCalc($color, $size, $weight)
  text-transform: $transform
=textCSWHT($color, $size, $weight, $height, $transform)
  +textCSWH($color, $size, $weight, $height)
  text-transform: $transform
=textCSWHTCalc($color, $size, $weight, $height, $transform)
  +textCSWHCalc($color, $size, $weight, $height)
  text-transform: $transform