@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/styles/fonts/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(/styles/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(/styles/fonts/MaterialIcons-Regular.woff) format("woff"), url(/styles/fonts/MaterialIcons-Regular.ttf) format("truetype");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                     Border                     * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                    Display                     * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                    Indents                     * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                    Position                    * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                      Text                      * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
html {
  font-size: 14px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*:active {
  outline: none;
}
*:focus {
  outline: none;
}

body {
  user-select: none;
  font-family: Montserrat, serif;
  font-size: 1rem;
  color: rgba(31, 32, 65, 0.75);
  line-height: 1.7142857143rem;
  font-weight: 400;
  letter-spacing: 0;
}

h1 {
  font-size: 1.7142857143rem;
  color: #1F2041;
  line-height: 2.0714285714rem;
  font-weight: 700;
}

h2 {
  font-size: 1.3571428571rem;
  color: #1F2041;
  line-height: 1.6428571429rem;
  font-weight: 700;
}

h3, .label, .ui-block__label {
  font-size: 0.8571428571rem;
  color: #1F2041;
  line-height: 1.0714285714rem;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  color: rgba(31, 32, 65, 0.75);
  line-height: 1.7142857143rem;
  font-weight: 400;
}

a {
  height: 1.2857142857rem;
  font-size: 1rem;
  color: rgba(31, 32, 65, 0.75);
  line-height: 1.4285714286rem;
  font-weight: 400;
  text-decoration: none;
}
a[disabled] {
  cursor: default;
  pointer-events: none;
  color: rgba(31, 32, 65, 0.5);
}

ul, li {
  list-style-type: none;
}

details > summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

button {
  font-family: Montserrat, serif;
}

input {
  font-family: Montserrat, serif;
  width: 22.8571428571rem;
  height: 3.1428571429rem;
  font-size: 1rem;
  color: rgba(31, 32, 65, 0.75);
  line-height: 1.7142857143rem;
  background: white;
  border: 0.0714285714rem solid rgba(31, 32, 65, 0.25);
  border-radius: 0.2857142857rem;
  padding: 0.9285714286rem 1.0714285714rem 0.9285714286rem 1.0714285714rem;
}
input::placeholder {
  color: rgba(31, 32, 65, 0.25);
}
input:hover, input:focus {
  border-color: rgba(31, 32, 65, 0.5);
}
input[type=number], input[type=number]:hover, input[type=number]:focus {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/styles/fonts/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(/styles/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(/styles/fonts/MaterialIcons-Regular.woff) format("woff"), url(/styles/fonts/MaterialIcons-Regular.ttf) format("truetype");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                     Border                     * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                    Display                     * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                    Indents                     * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                    Position                    * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                      Text                      * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
button {
  cursor: pointer;
  overflow: hidden;
  height: 1.5714285714rem;
  font-size: 0.8571428571rem;
  color: #BC9CFF;
  line-height: 1.0714285714rem;
  font-weight: 700;
  text-transform: uppercase;
  background: inherit;
  border: none;
}
button:not([disabled]):not(.button):hover, button:not([disabled]):not(.button):active {
  filter: saturate(250%);
}
button:not([disabled]):not(.button):active {
  text-shadow: none;
}
button:not([disabled]):not(.button):focus {
  text-shadow: 0 0 1px #8BA4F9;
}
button[disabled] {
  cursor: default;
  color: rgba(31, 32, 65, 0.5);
}
button.button {
  width: 7rem;
  height: 3.1428571429rem;
  color: white;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 1.5714285714rem;
  position: relative;
}
button.button:not([disabled]):focus {
  box-shadow: 0 0 5px #8BA4F9;
}
button.button:not([disabled]):hover, button.button:not([disabled]):active {
  filter: saturate(250%);
}
button.button:not([disabled]):active {
  box-shadow: none;
}
button.button[disabled] {
  filter: opacity(50%);
}
button.button_white {
  color: #BC9CFF;
  background: white;
  background-clip: content-box;
  padding: 0.1428571429rem;
}
button.button_white:not([disabled]):hover, button.button_white:not([disabled]):active {
  color: white;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-clip: padding-box;
}
button.button_white:not([disabled]):hover, button.button_white:not([disabled]):active {
  filter: none;
}
button.button_white[disabled] {
  filter: none;
  color: rgba(188, 156, 255, 0.5);
}
button.button_white[disabled]:before {
  filter: opacity(50%);
}
button.button_white:before {
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: inherit;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
button .material-icons:not(.left), button .material-icons.left {
  width: 3.1428571429rem;
  height: 3.1428571429rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
button .material-icons:not(.left) {
  position: absolute;
  top: 0;
  right: 0;
}
button .material-icons.left {
  position: absolute;
  top: 0;
  left: 0;
}
button.button_lg {
  width: 22.8571428571rem;
}

.ui-block {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 1rem 1rem;
}
.ui-block__label {
  margin-bottom: 0.3571428571rem;
}
.ui-block__row {
  margin-bottom: 1rem;
}

/*# sourceMappingURL=index.css.map */
