@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("https://raw.githubusercontent.com/BobrikovAleksey/FSDHotel_Layout_html/master/styles/fonts/MaterialIcons-Regular.eot?raw=true");
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("https://raw.githubusercontent.com/BobrikovAleksey/FSDHotel_Layout_html/master/styles/fonts/MaterialIcons-Regular.woff2?raw=true") format("woff2"), url("https://raw.githubusercontent.com/BobrikovAleksey/FSDHotel_Layout_html/master/styles/fonts/MaterialIcons-Regular.woff?raw=true") format("woff"), url("https://raw.githubusercontent.com/BobrikovAleksey/FSDHotel_Layout_html/master/styles/fonts/MaterialIcons-Regular.ttf?raw=true") format("truetype");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                     Border                     * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                    Display                     * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                    Indents                     * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                    Position                    * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                      Text                      * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
html {
  font-size: 14px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*:active {
  outline: none;
}
*:focus {
  outline: none;
}

body {
  user-select: none;
  font-family: Montserrat, serif;
  font-size: 1rem;
  color: rgba(31, 32, 65, 0.75);
  line-height: 1.7142857143rem;
  font-weight: 400;
  letter-spacing: 0;
}

h1 {
  font-size: 1.7142857143rem;
  color: #1F2041;
  line-height: 2.0714285714rem;
  font-weight: 700;
}

h2 {
  font-size: 1.3571428571rem;
  color: #1F2041;
  line-height: 1.6428571429rem;
  font-weight: 700;
}

h3, .label, .ui__label {
  font-size: 0.8571428571rem;
  color: #1F2041;
  line-height: 1.0714285714rem;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  color: rgba(31, 32, 65, 0.75);
  line-height: 1.7142857143rem;
  font-weight: 400;
}

a {
  height: 1.2857142857rem;
  font-size: 1rem;
  color: rgba(31, 32, 65, 0.75);
  line-height: 1.4285714286rem;
  font-weight: 400;
  text-decoration: none;
}
a[disabled] {
  cursor: default;
  pointer-events: none;
  color: rgba(31, 32, 65, 0.5);
}

ul, li {
  list-style-type: none;
}

details > summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

button {
  font-family: Montserrat, serif;
}

input {
  font-family: Montserrat, serif;
  width: 22.8571428571rem;
  height: 3.1428571429rem;
  font-size: 1rem;
  color: rgba(31, 32, 65, 0.75);
  line-height: 1.7142857143rem;
  background: white;
  border: 0.0714285714rem solid rgba(31, 32, 65, 0.25);
  border-radius: 0.2857142857rem;
  padding: 0.9285714286rem 1.0714285714rem 0.9285714286rem 1.0714285714rem;
}
input::placeholder {
  color: rgba(31, 32, 65, 0.25);
}
input:hover, input:focus {
  border-color: rgba(31, 32, 65, 0.5);
}
input[type=number], input[type=number]:hover, input[type=number]:focus {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("https://raw.githubusercontent.com/BobrikovAleksey/FSDHotel_Layout_html/master/styles/fonts/MaterialIcons-Regular.eot?raw=true");
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("https://raw.githubusercontent.com/BobrikovAleksey/FSDHotel_Layout_html/master/styles/fonts/MaterialIcons-Regular.woff2?raw=true") format("woff2"), url("https://raw.githubusercontent.com/BobrikovAleksey/FSDHotel_Layout_html/master/styles/fonts/MaterialIcons-Regular.woff?raw=true") format("woff"), url("https://raw.githubusercontent.com/BobrikovAleksey/FSDHotel_Layout_html/master/styles/fonts/MaterialIcons-Regular.ttf?raw=true") format("truetype");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                     Border                     * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                    Display                     * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                    Indents                     * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                    Position                    * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                      Text                      * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
button {
  cursor: pointer;
  overflow: hidden;
  height: 1.5714285714rem;
  font-size: 0.8571428571rem;
  color: #BC9CFF;
  line-height: 1.0714285714rem;
  font-weight: 700;
  text-transform: uppercase;
  background: inherit;
  border: none;
}
button:not([disabled]):not(.button):hover, button:not([disabled]):not(.button):active {
  filter: saturate(250%);
}
button:not([disabled]):not(.button):active {
  text-shadow: none;
}
button:not([disabled]):not(.button):focus {
  text-shadow: 0 0 1px #8BA4F9;
}
button[disabled] {
  cursor: default;
  color: rgba(31, 32, 65, 0.5);
}
button.button {
  height: 3.1428571429rem;
  color: white;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 1.5714285714rem;
  padding-left: 1.4285714286rem;
  padding-right: 1.4285714286rem;
  position: relative;
}
button.button:not([disabled]):focus {
  box-shadow: 0 0 5px #8BA4F9;
}
button.button:not([disabled]):hover, button.button:not([disabled]):active {
  filter: saturate(250%);
}
button.button:not([disabled]):active {
  box-shadow: none;
}
button.button[disabled] {
  filter: opacity(50%);
}
button.button_white {
  z-index: 0;
  color: #BC9CFF;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: none;
  position: relative;
}
button.button_white:before {
  z-index: -1;
  content: "";
  width: calc(100% - 0.1428571429rem * 2);
  height: calc(100% - 0.1428571429rem * 2);
  box-sizing: border-box;
  background: white;
  border-radius: 1.4285714286rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.1428571429rem;
  left: 0.1428571429rem;
}
button.button .material-icons:not(.left), button.button .material-icons.left {
  width: 3.1428571429rem;
  height: 3.1428571429rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
button.button .material-icons:not(.left) {
  position: absolute;
  top: 0;
  right: 0;
}
button.button .material-icons.left {
  position: absolute;
  top: 0;
  left: 0;
}
button.button_lg {
  width: 22.8571428571rem;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("https://raw.githubusercontent.com/BobrikovAleksey/FSDHotel_Layout_html/master/styles/fonts/MaterialIcons-Regular.eot?raw=true");
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("https://raw.githubusercontent.com/BobrikovAleksey/FSDHotel_Layout_html/master/styles/fonts/MaterialIcons-Regular.woff2?raw=true") format("woff2"), url("https://raw.githubusercontent.com/BobrikovAleksey/FSDHotel_Layout_html/master/styles/fonts/MaterialIcons-Regular.woff?raw=true") format("woff"), url("https://raw.githubusercontent.com/BobrikovAleksey/FSDHotel_Layout_html/master/styles/fonts/MaterialIcons-Regular.ttf?raw=true") format("truetype");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                     Border                     * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                    Display                     * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                    Indents                     * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                    Position                    * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
/************************************************** */
/*                    Palette                     * */
/************************************************** */
/************************************************** */
/*                Objects palette                 * */
/************************************************** */
/************************************************** */
/*                 Objects sizes                  * */
/************************************************** */
/************************************************** */
/*                      Text                      * */
/************************************************** */
/************************************************** */
/*                      Main                      * */
/************************************************** */
.header {
  background: white;
}
.header__container {
  max-width: 1440px;
  min-width: 340px;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 140px;
}
.header__logo {
  height: 2.8571428571rem;
}
.header .menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .menu__link {
  height: 1.5714285714rem;
  font-size: 1rem;
  color: rgba(31, 32, 65, 0.5);
  line-height: 1.2857142857rem;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .menu__item {
  margin-left: 20px;
}
.header .menu__item:first-of-type {
  margin-left: 0;
}
.header .menu__item:first-of-type .menu__link {
  font-weight: 700;
}
.header .menu__item .material-icons {
  line-height: 1.5714285714rem;
  margin-left: 0.0714285714rem;
}
.header .menu__button {
  height: 2.4285714286rem;
}
.header .menu__icon {
  cursor: pointer;
  width: 2.8571428571rem;
  height: 2.8571428571rem;
  font-size: 2.2857142857rem;
  color: white;
  font-size: 2.2857142857rem;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 1.4285714286rem;
  display: none;
}
.header .menu__icon:hover, .header .menu__icon:active {
  filter: saturate(250%);
}
.header .menu__account {
  font-size: 1rem;
  color: rgba(31, 32, 65, 0.5);
  line-height: 1.2857142857rem;
  font-weight: 400;
  border-left: 0.0714285714rem solid rgba(31, 32, 65, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.4285714286rem;
}

@media (max-width: 1440px) {
  .header__container {
    padding: 0 calc(140px - (1440px - 100vw) * 0.1785714286);
  }
  .header .menu__item {
    margin-left: calc(20px - (1440px - 100vw) * 0.0074404762);
  }
}
@media (max-width: 768px) {
  .header__container {
    padding: 0 calc(20px - (768px - 100vw) * 0.023364486);
  }
  .header .menu {
    display: none;
  }
  .header .menu__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 340px) {
  .header__container {
    padding: 0 10px;
  }
}
.ui__container {
  max-width: 1440px;
  min-width: 340px;
  margin: 0 auto;
  padding: 3rem 140px;
}
.ui__block {
  display: flex;
  flex-direction: column;
}
.ui__label {
  margin-bottom: 0.3571428571rem;
}
.ui__row {
  margin-bottom: 1rem;
}

@media (max-width: 1440px) {
  .ui__container {
    padding: 3rem calc(140px - (1440px - 100vw) * 0.1785714286);
  }
}
@media (max-width: 768px) {
  .ui__container {
    padding: 2rem calc(20px - (768px - 100vw) * 0.023364486);
  }
}
@media (max-width: 340px) {
  .ui__container {
    padding: 2rem 10px;
  }
}

/*# sourceMappingURL=index.css.map */
